// Colors
:root {
    --primary-color: #DAFF8C;
    --primary-color-dark: #BFDDA3;
    --primary-color-light: #E1F3E1;
    --btn-hover: #c3f65d;
    --freemium-tag-background: #ebebeb;
    --fav-background: #FFE1E1;
    --footer-link: #434040;
    --heading-color: #000;
    --color-black: #000;
    --color-white: #fff;
}
